<div class="col-md-12" style="margin-left: 250px; margin-top: 50px">
    <div class="col-md-8 d-flex flex-row justify-content-around">
        <button type="button" class="btn btn-primary" (click)="cekHarga('Pertamax')">Pertamax</button>
        <button type="button" class="btn btn-secondary" (click)="cekHarga('Pertalite')">Pertalite</button>
        <button type="button" class="btn btn-success" (click)="cekHarga('Solar')">Solar</button>
        <button type="button" class="btn btn-danger" (click)="cekHarga('PertamaxPlus')">Pertamax Plus</button>
         </div>
        
         <br>
        
        <div class="col-md-5">
            <h1>Bengsing Yang Dipilih: {{bensin}}</h1>
        
            <h2>Harga: {{harga}}</h2>
        
            <div class="mb-3">
                <label class="form-label">Jumlah Liter</label>
                <input type="number" [(ngModel)]="jumlahLiter" class="form-control" placeholder="Jumlah Liter" name="jumlahLiter">
            </div>
        
            <div class="mb-3">
                <label class="form-label">Jumlah Bayar</label>
                <input type="number" [(ngModel)]="jumlahBayar" class="form-control" placeholder="Jumlah Bayar" name="jumlahBayar">
            </div>
        
            <button class="btn btn-primary" (click)="hitungHarga(jumlahLiter, jumlahBayar)">Hitung</button>
        
            <h4>Harga yang dibayar: {{total}}</h4>
            <h4>Status pembelian: {{status}}</h4>
            <ng-container *ngIf="showChange === true">
                <div [ngClass] = "testClass">
                <h5>Uang kembali: {{change}}</h5>
            </div>
            </ng-container>
        
        </div>
</div>
  