<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid"
          alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form class="row g-3 needs-validation" [formGroup]="formLogin" (ngSubmit)="doLogin()">
          <!-- Username input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Username</label>
            <input [ngClass]="errorControl['username'].valid ? 'is-valid' : (errorControl['username'].dirty || errorControl['username'].touched) ? 'is-invalid' : ''" type="text" id="form1Example13" formControlName="username" class="form-control form-control-lg"
              name="username" />
              
            <ng-container
              *ngIf="(errorControl['username'].dirty || errorControl['username'].touched) && errorControl['username'].errors">
              <div *ngIf="errorControl['username'].errors['required']">Please enter your username.</div>
              <div *ngIf="errorControl['username'].errors['email']" class="invalid-feedback">Username must be an email.</div>
            </ng-container>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example23">Password</label>
            <input type="password" id="form1Example23" formControlName="password" class="form-control form-control-lg"
              name="password" />
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
              <label class="form-check-label" for="form1Example3"> Remember me </label>
            </div>
            <a href="#!">Forgot password?</a>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!formLogin.valid">Sign in</button>

        </form>
      </div>
    </div>
  </div>
</section>