<router-outlet></router-outlet>

<!--div class = "alert alert-primary" role="alert">
<h1>Hello World!</h1>
</div>


<h3>{{name}}</h3>
<h3>{{age}}</h3>
<h3>{{status}}</h3-->

<!--app-card title="Kartu Nama" name="Gilang" [age]="17" [status]="true" (dataCallBack)="onCallBackAdd($event)"></app-card-->
<!-- br-->
<!-- app-card [title]="person.title" [name]="person.name" [age]="person.age" [status]="person.status" (dataCallBack)="onCallBack($event)" ></app-card-->
<!-- br -->
<!-- app-card (dataCallBack)= "onCallBack($event)"></app-card-->

<!--ng-container *ngFor="let data of personList">
    <app-card [title]="data.title" [name]="data.name" [age]="data.age" [status]="data.status"></app-card>
    <br>
  </ng-container-->
