<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form class="row g-3 needs-validation" [formGroup]="formRegister" (ngSubmit)="doRegister()">

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Your Username</label>
                  <input type="text" id="form3Example1cg" formControlName="username"
                    class="form-control form-control-lg" />
                  <ng-container
                    *ngIf="(errorControl['username'].dirty || errorControl['username'].touched) && errorControl['username'].errors">
                    <div class="text-danger" *ngIf="errorControl['username'].errors['required']">Please enter your username.</div>
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Your Password</label>
                  <input type="password" id="form3Example3cg" formControlName="password"
                    class="form-control form-control-lg" />
                  <ng-container
                    *ngIf="(errorControl['password'].dirty || errorControl['password'].touched) && errorControl['password'].errors">
                    <div class="text-danger" *ngIf="errorControl['password'].errors['required']">Please enter your
                      password.</div>
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Password Confirmation</label>
                  <input type="password" class="form-control form-control-lg" id="form3Example3cg" formControlName="c_password" name="password_confirm" >
                    <ng-container *ngIf="(!confirmPassword)">
                      <div>Password Different.</div>
                    </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg">Your Email</label>
                  <input type="text" id="form3Example4cg" formControlName="email"
                    class="form-control form-control-lg" />
                  <ng-container
                    *ngIf="(errorControl['email'].dirty || errorControl['email'].touched) && errorControl['email'].errors">
                    <div class="text-danger" *ngIf="errorControl['email'].errors['required']">Please enter your
                      email.</div>
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg">Nama Lengkap</label>
                  <input type="text" id="form3Example4cdg" formControlName="nama_lengkap"
                    class="form-control form-control-lg" />
                  <ng-container
                    *ngIf="(errorControl['nama_lengkap'].dirty || errorControl['nama_lengkap'].touched) && errorControl['nama_lengkap'].errors">
                    <div class="text-danger" *ngIf="errorControl['nama_lengkap'].errors['required']">Please enter your
                      nama lengkap.</div>
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg">Tanggal Lahir</label>
                  <input type="date" id="form3Example4cdg" formControlName="tanggal_lahir"
                    class="form-control form-control-lg" />
                  <ng-container
                    *ngIf="(errorControl['tanggal_lahir'].dirty || errorControl['tanggal_lahir'].touched) && errorControl['tanggal_lahir'].errors">
                    <div class="text-danger" *ngIf="errorControl['tanggal_lahir'].errors['required']">Please enter your
                      tanggal lahir.</div>
                  </ng-container>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                     >Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="login"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>