<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>AstraPay Admin - Dashboard</title>

    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <div class="row">
            <div class="col-md-2">
              <!-- Sidebar -->
              <app-sidebar></app-sidebar>
              <!-- End of Sidebar -->
            </div>
            <div class="col-md-10">
              <!-- Topbar -->
              <app-navbar
                style="position: fixed; z-index: 10"
                class="col-md-10"
              ></app-navbar>
              <!-- End of Topbar -->

              <!-- Begin Page Content -->
              <div class="container-fluid" style="margin-top: 10vh">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Users Table</h1>

                 <!-- Modal -->
                 <button
                 style="margin-right: 8px; margin-bottom: 12px"
                 type="button"
                 class="btn btn-primary"
                 (click)="openModal(template)"
               >
                 Add Users
               </button>

               <ng-template #template>
                 <div class="modal-header">
                   <h4 class="modal-title pull-left">Tambah User</h4>
                   <button
                     type="button"
                     class="btn-close close pull-right"
                     aria-label="Close"
                     (click)="modalRef?.hide()"
                   >
                     <span aria-hidden="true" class="visually-hidden">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   <form class="row g-3" [formGroup] = "formAdd" (ngSubmit)="doAddUser()">
                     <div class="col-md-12">
                       <label for="inputUsername" class="form-label">Username</label>
                       <input type="text" class="form-control" id="inputUsername" 
                       formControlName="username"
                       name="username"
                       [ngClass]="
                         errorControl['username'].valid
                           ? 'is-valid'
                           : errorControl['username'].dirty ||
                             errorControl['username'].touched
                           ? 'is-invalid'
                           : ''
                       "
                       />
                       <ng-container
                          *ngIf="
                            (errorControl['username'].dirty ||
                              errorControl['username'].touched) &&
                            errorControl['username'].errors
                          "
                        >
                          <div
                            class="text-danger"
                            *ngIf="errorControl['username'].errors['required']"
                          >
                            Please enter your username.
                          </div>
                          </ng-container>
                     </div>
                     <div class="col-md-12">
                       <label for="inputEmail" class="form-label">Email</label>
                       <input type="email" class="form-control" id="inputEmail" 
                       formControlName="email"
                       name="email"
                       [ngClass]="
                         errorControl['email'].valid
                           ? 'is-valid'
                           : errorControl['email'].dirty ||
                             errorControl['email'].touched
                           ? 'is-invalid'
                           : ''
                       "/>
                       <ng-container
                          *ngIf="
                            (errorControl['email'].dirty ||
                              errorControl['email'].touched) &&
                            errorControl['email'].errors
                          "
                        >
                          <div
                            class="text-danger"
                            *ngIf="errorControl['email'].errors['required']"
                          >
                            Please enter your email.
                          </div>
                          </ng-container>
                     </div>
                     <div class="col-md-12">
                       <label for="inputNamaLengkap" class="form-label">Nama Lengkap</label>
                       <input type="text" class="form-control" id="inputNamaLengkap" 
                       formControlName="nama_lengkap"
                       name="nama_lengkap"
                       [ngClass]="
                         errorControl['nama_lengkap'].valid
                           ? 'is-valid'
                           : errorControl['nama_lengkap'].dirty ||
                             errorControl['nama_lengkap'].touched
                           ? 'is-invalid'
                           : ''
                       " />
                       <ng-container
                          *ngIf="
                            (errorControl['nama_lengkap'].dirty ||
                              errorControl['nama_lengkap'].touched) &&
                            errorControl['nama_lengkap'].errors
                          "
                        >
                          <div
                            class="text-danger"
                            *ngIf="errorControl['nama_lengkap'].errors['required']"
                          >
                            Please enter your nama lengkap.
                          </div>
                          </ng-container>
                     </div>
                     <div class="col-md-12">
                       <label for="inputPassword" class="form-label">Password</label>
                       <input
                          type="password"
                          class="form-control"
                          id="inputPassword"
                          formControlName="password"
                          name="password"
                          [ngClass]="
                            errorControl['password'].valid
                              ? 'is-valid'
                              : errorControl['password'].dirty ||
                                errorControl['password'].touched
                              ? 'is-invalid'
                              : ''
                          "
                        />
                        <ng-container
                          *ngIf="
                            (errorControl['password'].dirty ||
                              errorControl['password'].touched) &&
                            errorControl['password'].errors
                          "
                        >
                          <div
                            class="text-danger"
                            *ngIf="errorControl['password'].errors['required']"
                          >
                            Please enter your password.
                          </div>
                          <div
                            class="text-danger"
                            *ngIf="errorControl['password'].errors['minlength']"
                          >
                            Password is too short.
                          </div>
                        </ng-container>
                     </div>
                     <div class="col-12">
                       <label for="inputTanggalLahir" class="form-label" id="inputTanggalLahir"
                       >Tanggal Lahir</label>
                       <input
                         type="date"
                         class="form-control"
                         id="inputTanggalLahir"
                         placeholder="dd-mm-yyyy"
                         formControlName="tanggal_lahir"
                         name="tanggal_lahir"
                         [ngClass]="
                         errorControl['tanggal_lahir'].valid
                           ? 'is-valid'
                           : errorControl['tanggal_lahir'].dirty ||
                             errorControl['tanggal_lahir'].touched
                           ? 'is-invalid'
                           : ''
                       "
                       />
                       <ng-container
                          *ngIf="
                            (errorControl['tanggal_lahir'].dirty ||
                              errorControl['tanggal_lahir'].touched) &&
                            errorControl['tanggal_lahir'].errors
                          "
                        >
                          <div
                            class="text-danger"
                            *ngIf="errorControl['tanggal_lahir'].errors['required']"
                          >
                            Please enter your tanggal lahir.
                          </div>
                          </ng-container>
                       
                     </div>
       
                     <div class="col-12">
                       <label for="inputFile" class="form-label">Photo</label>
                       <ng-container
                          *ngIf="
                            (errorControl['photo'].dirty ||
                              errorControl['photo'].touched) &&
                            errorControl['photo'].errors
                          "
                        >
                          <div
                            class="text-danger"
                            *ngIf="errorControl['photo'].errors['photo']"
                          >
                            Please enter your photo.
                          </div>
                          </ng-container>
                       <input type="file" name="photo" id="photo" class="form-control" accept="image/png, image/jpeg, image/gif" (change)="showPreview($event)">
                       <ng-container *ngIf="photo">
                         <img src="{{photo}}" alt="" width="200px">
                       </ng-container>
                     </div>
       
                     <div class="modal-footer">
                       <button
                         type="button"
                         class="btn btn-secondary"
                         data-bs-dismiss="modal"
                       >
                         Tutup
                       </button>
                       <button type="submit" class="btn btn-primary"  >Simpan</button>
                       <!-- data-bs-dismiss="modal" (click)="modalRef?.hide() " [disabled]="!formAdd.valid"  -->
                     </div>
                   </form>
                 </div>
               </ng-template>
       
             <!-- End Modal -->

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Table User
                    </h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th>Id User</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Nama Lengkap</th>
                            <th>Tanggal Lahir</th>
                            <th>Id Dompet</th>
                            <th>Saldo AstraPay</th>
                            <th>Poin AstraPay</th>
                            <th>Id Role</th>
                            <th>Role</th>
                            <th>Photo</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let data of user">
                            <tr>
                              <td>{{data.id_user}}</td>
                              <td>{{data.username}}</td>
                              <td>{{data.email}}</td>
                              <td>{{data.nama_lengkap}}</td>
                              <td>{{data.tanggal_lahir}}</td>
                              <td>{{data.dompet.id_dompet}}</td>
                              <td>{{data.dompet.saldo_astrapay}}</td>
                              <td>{{data.dompet.poin_astrapay}}</td>
                              <td>{{data.role.id_role}}</td>
                              <td>{{data.role.nama_role}}</td>
                              <td><a href="#"
                                ><img
                                  src="{{data.photo}}"
                                  alt=""
                                  width="70"
                                  height="70"
                              /></a></td>
                            </tr>
                          </ng-container>
                         
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.container-fluid -->
            </div>
          </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script>$(document).ready(function() {
    $('#dataTable').DataTable();
    console.log("gajelas")
  });
  </script>